// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  min-height: 400px;
  & .sidebar {
    flex: 1;
    border-right: 1px solid #EAEAEA;
    background-color: #226688;
    color: #f0f0f0;
    & .item {
      flex: 1;
      width: 100%;
      float: left;
      padding: 10px 25px;
      cursor: pointer;
      &:hover {
        background-color: #115577;
        color: #ffffff;
      }
    }
    & .item.selected {
      background-color: #105070;
      color: #ffffff;
    }

  }
  & .main {
    flex: 4;
    padding: 10px 20px;
    border: 1px solid #EAEAEA;
    & h1 {
      font-size: 20px;
      margin-top: 0px;
    }
  }

  & form label, form input[type="text"], textarea {
    width: 100%;
    float: left;
    margin: 5px 0;
  }
  & label span.error {
    color: #f92222;
    font-weight: bold;
    margin-left: 10px;
  }
  & form input[type="text"] {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
  }
  & form input[type="submit"] {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 6px 20px;
    margin-top: 5px;
    background-color: #3395ef;
    color: white;
    &:hover {
      background-color: #3375cf;
      box-shadow: 0 1px 1px rgba(80,80,80,.1);
    }
  }
  & a {
    color: #2295ef;
    font-weight: bold;
    cursor: pointer;
  }
}
